---
title: Contribute 
---
<section id="content">
	<div class="content-wrap">
        <div class="container clearfix">
                    <div class="promo promo-light bottommargin">
                        <h3>Contribute to the Nanoverse project</h3>
                        <span>Nanoverse is free, for any purpose, under the <a href="http://www.gnu.org/licenses/lgpl.html">Lesser General Public License v3.0</a>. There are many ways that you can give back.</span>
                        <a href="contact.html" class="button button-xlarge button-rounded">Contact us</a>
                    </div>
			<h3>Test!</h3>
            <p><span style="font-size: 125%">Nanoverse is currently in public pre-release, meaning that there are plenty of quirks and bugs. We need your help in finding them! Does something behave unexpectedly? Do you get a useless error message? Is there syntax that you don't understand? If you find an issue, please <a href="contact.html">let us know</a>.</span></p>

			<h3>Demonstrate!</h3>
            <p><span style="font-size: 125%">Everyone prefers to work by example. If you create a simulation in Nanoverse, we encourage you to post it online and explain how it works. If you make a movie or image that you'd like to share, we'd love to post it on our <a href="gallery.html">gallery</a>! For inspiration, have a look at the fantastic library of (mostly) open-source simulations available on the <a href="http://ccl.northwestern.edu/netlogo/models/">NetLogo website</a>.</span></p>

			<h3>Build!</h3>
            <p><span style="font-size: 125%">We have <a href="timeline.html">many new features</a> planned for Nanoverse. Would you like to help make them happen? Nanoverse is free and open-source, meaning that you can just jump right in. Please make sure that your code has an AGPL-compatible license (GPL is fine). If you're interested in contributing to planned features, please <a href="contact.html">contact us</a> so that we can coordinate.</span></p>

			<h3>Partner!</h3>
            <p><span style="font-size: 125%">The development of Nanoverse has been supported by generous funding from <a href="http://www.princeton.edu">Princeton University</a>, the <a href="http://www.nsf.gov/">National Science Foundation</a>, and the <a href="https://www.princeton.edu/research/dean/funding/eric-and-wendy-schmidt-tr/">Eric and Wendy Schmidt Transformative Technology Fund</a>. This funding will end in 2016. We need your help to keep the project going! If you are interested in contributing financially to the ongoing development of Nanoverse, please <a href="contact.html">contact us</a>. We are especially interested in corporate partnerships; we would be happy to build custom business logic and special licensing to allow Nanoverse to talk to your proprietary platform.</span></p>
		</div>
	</div>
</section>
