---
title: Documentation
---
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
            <h2>A note about the Nanoverse prototype</h2>
            <p><span style="font-weight: bold; color: red">Nanoverse is in open prototype stage.</span> A great deal of features are still in active development, and that includes our documentation. At this time (v 0.6.3), using Nanoverse may require reading (but not editing) relevant parts of the Java source code. We are actively working to improve our documentation, and will be posting new tutorials in the weeks and months ahead.</p>

            <p>Beginning in Nanoverse 0.8.0, Nanoverse will come with an exhaustive reference specification, which will also be available here. From Nanoverse 1.0.0, it will be possible to program in a native syntax, for which the same reference material will apply; new user manuals and tutorials will also be available.<p>

            <p>Thank you for your patience as we grow, and thank you for trying Nanoverse!<p>
            
            <h2>Installing Nanoverse</h2>
            <p>Nanoverse is written in <a href="http://www.java.com/">Java</a> 8. As such, it requires a <a href="https://www.java.com/en/download/faq/whatis_java.xml">Java 8 Runtime Environment (JRE)</a>. You can download the appropriate JRE from <a href="">Oracle's website</a>; directions are available there.</p>

            <p>Even if you already have Java, you may not have Java 8; as of this writing, most computers have Java 6 or 7. Nanoverse will not run without Java 8, so verify that you have it by typing <code>java -v</code> at your <a href="http://windows.microsoft.com/en-us/windows-vista/open-a-command-prompt-window">command prompt</a> (Windows) or <a href="http://en.wikipedia.org/wiki/Unix_shell">terminal</a> (Linux/Mac). It should say something about "Java 8" or "Java 1.8."</p>

            <p>Once you have Java installed, you can download Nanoverse from our <a href="https://github.com/biologicaldynamics/nanoverse">GitHub repository</a>. The "Download" link in the title bar links directly to the current release.</p>

            <h2>Hello World and tutorial</h2>
            <p >Anne Maslan, Nanoverse's very first useful, was kind enough to write an excellent "Hello World" script:</p>
            <blockquote class="topmargin bottommargin">
                <a href="downloads/HelloWorld.xml">Hello World</a>
            </blockquote>

            <p>To run it, you type <code>java -jar /path/to/nanoverse/nanoverse.jar /path/to/script/HelloWorld.xml</code>.</p>

            <p>You will notice, of course, that it doesn't work out of the box. Why? For that, you will need to read Annie's companion tutorial:</p>
            <blockquote class="topmargin bottommargin">
                <a href="downloads/BeginnerTutorial.pdf">Nanoverse Tutorial</a>
            </blockquote>

            <h2>Continuum process tutorial</h2>
            <p>Nanoverse has the ability to couple agent behaviors to continuum-valued spatial processes (i.e., <a href="">partial differential equations</a>). Our spring 2015 REU, David Jacobowitz, is currently developing a tutorial for this feature--stay tuned.</p>
        </div>
	</div>
</section>
