---
title: Gallery
---
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Portfolio Filter
            ============================================= -->
            <ul id="portfolio-filter" class="clearfix">

                <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
                <li><a href="#" data-filter=".pf-movies">Movies</a></li>
                <li><a href="#" data-filter=".pf-stills">Stills</a></li>

            </ul><!-- #portfolio-filter end -->

            <div id="portfolio-shuffle">
                <i class="icon-random"></i>
            </div>

            <div class="clear"></div>

            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="clearfix">

                <article class="portfolio-item pf-movies">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/portfolio/preview/branching_youtube.png" alt="Oxygen limitation leads to branching">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=mR9Qf37EX-M">Oxygen limitation leads to branching</a></h3>
                            </div>
                            <a href="https://www.youtube.com/watch?v=mR9Qf37EX-M"><i class="icon-line-play"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=mR9Qf37EX-M">Oxygen limitation leads to branching</a></h3>
                    </div>
                    </article>

                <article class="portfolio-item pf-stills">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/portfolio/preview/rps_range_exp_linear.png" alt="Rock-Paper-Scissors: Linear Range Expansion">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="images/portfolio/preview/rps_range_exp_linear.png">Rock-Paper-Scissors: Linear range expansion</a></h3>
                            </div>
                            <a href="images/portfolio/full/rps_range_exp_linear.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="images/portfolio/full/rps_range_exp_linear.png" class="left-icon" data-lightbox="image">Rock-Paper-Scissors: Linear range expansion</a></h3>
                    </div>

                </article>

                <article class="portfolio-item pf-stills">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/portfolio/preview/rps_range_exp_radial.png" alt="Rock-Paper-Scissors: Radial Range Expansion">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="images/portfolio/preview/rps_range_exp_radial.png">Rock-Paper-Scissors: Radial range expansion</a></h3>
                            </div>
                            <a href="images/portfolio/full/rps_range_exp_radial.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="images/portfolio/full/rps_range_exp_radial.png" class="left-icon" data-lightbox="image">Rock-Paper-Scissors: Radial range expansion</a></h3>
                    </div>

                    </article>

                <article class="portfolio-item pf-movies">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/portfolio/preview/rock_paper_scissors_db_youtube.png" alt="Rock-Paper-Scissors: Death-birth process">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=KjSDWV42_tc">Rock-Paper-Scissors: Death-birth process</a></h3>
                            </div>
                            <a href="https://www.youtube.com/watch?v=KjSDWV42_tc"><i class="icon-line-play"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=KjSDWV42_tc">Rock-Paper-Scissors: Death-birth process</a></h3>
                    </div>
                    </article>

                <article class="portfolio-item pf-movies">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/portfolio/preview/hawk_dove_retaliator_db_youtube.png" alt="Hawk-Dove-Retaliator: Death-birth process">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=usFl-Qhtl5Q">Hawk-Dove-Retaliator: Death-birth process</a></h3>
                            </div>
                            <a href="https://www.youtube.com/watch?v=usFl-Qhtl5Q"><i class="icon-line-play"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=usFl-Qhtl5Q">Hawk-Dove-Retaliator: Death-birth process</a></h3>
                    </div>
                    </article>


                <article class="portfolio-item pf-movies">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/portfolio/preview/t6s_ava_youtube.png" alt="Type VI secretion inhibits invasion">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=4_ueI8xmZhs">Type VI secretion inhibits invasion</a></h3>
                            </div>
                            <a href="https://www.youtube.com/watch?v=4_ueI8xmZhs"><i class="icon-line-play"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=4_ueI8xmZhs">Type VI secretion inhibits invasion</a></h3>
                    </div>
                    </article>

                <article class="portfolio-item pf-movies">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/portfolio/preview/t6s_small_large_youtube.png" alt="Established microbial colonies can survive Type VI secretion assault">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=6NCFnR9h0lU">Established microbial colonies can survive Type VI secretion assault</a></h3>
                            </div>
                            <a href="https://www.youtube.com/watch?v=6NCFnR9h0lU"><i class="icon-line-play"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=6NCFnR9h0lU">Established microbial colonies can survive Type VI secretion assault</a></h3>
                    </div>
                </article>

                <article class="portfolio-item pf-stills">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/portfolio/preview/50k-divisions.png" alt="Two diagonal range expansions">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="images/portfolio/preview/50k-divisions.png">Two diagonal range expansions</a></h3>
                            </div>
                            <a href="images/portfolio/full/50k-divisions.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="images/portfolio/full/50k-divisions.png" class="left-icon" data-lightbox="image">Two diagonal range expansions</a></h3>
                    </div>

                </article>

                <article class="portfolio-item pf-stills">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/portfolio/preview/resource.jpg" alt="">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="images/portfolio/full/resource.png">Diffusible snowdrift game</a></h3>
                            </div>
                            <a href="images/portfolio/full/resource.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="images/portfolio/full/resource.png" class="left-icon" data-lightbox="image">Diffusible snowdrift game</a><br>&nbsp;</h3>
                    </div>
                </article>

                <article class="portfolio-item pf-stills">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/portfolio/preview/200k-divisions.png" alt="Extended range expansion">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="images/portfolio/full/200k-divisions.png">Extended range expansion</a></h3>
                            </div>
                            <a href="images/portfolio/full/200k-divisions.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="images/portfolio/full/200k-divisions.png" class="left-icon" data-lightbox="image">Extended range expansion</a><br>&nbsp;</h3>
                    </div>
                </article>

                <article class="portfolio-item pf-stills">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/portfolio/preview/ring_5.png" alt="">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="images/portfolio/full/ring_5.png">Point source with diffusion and decay</a></h3>
                            </div>
                            <a href="images/portfolio/full/ring_5.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                            <h3><a href="images/portfolio/full/ring_5.png" class="left-icon" data-lightbox="image">Point source with diffusion and decay</a></h3>
                    </div>
                </article>

                <article class="portfolio-item pf-stills">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/portfolio/preview/lineage.png" alt="Radial range expansion">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="images/portfolio/full/lineage.png">Radial range expansion</a></h3>
                            </div>
                            <a href="images/portfolio/full/lineage.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="images/portfolio/full/lineage.png" class="left-icon" data-lightbox="image">Radial range expansion</a><br>&nbsp;</h3>
                    </div>
                </article>

                <article class="portfolio-item pf-stills">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/portfolio/preview/lineages.png" alt="Linear range expansions">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="images/portfolio/full/lineages.png">Linear range expansions</a></h3>
                            </div>
                            <a href="images/portfolio/full/lineages.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a href="images/portfolio/full/lineages.png" class="left-icon" data-lightbox="image">Linear range expansion</a><br>&nbsp;</h3>
                    </div>
                </article>
               
              
                <article class="portfolio-item pf-movies">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/portfolio/preview/armada.jpg" alt="Bacterial pacifists can face down an armada">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=TpcwdAiBsf0">Bacterial pacifists can face down an armada</a></h3>
                            </div>
                            <a href="https://www.youtube.com/watch?v=TpcwdAiBsf0"><i class="icon-line-play"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                                <h3><a href="https://www.youtube.com/watch?v=TpcwdAiBsf0">Bacterial pacifists can face down an armada</a></h3>
                    </div>
                </article>
            </div><!-- #portfolio end -->

            <!-- Portfolio Script
            ============================================= -->
            <script type="text/javascript">

                jQuery(window).load(function(){

                    var $container = $('#portfolio');

                    $container.isotope({ transitionDuration: '0.65s' });

                    $('#portfolio-filter a').click(function(){
                        $('#portfolio-filter li').removeClass('activeFilter');
                        $(this).parent('li').addClass('activeFilter');
                        var selector = $(this).attr('data-filter');
                        $container.isotope({ filter: selector });
                        return false;
                    });

                    $('#portfolio-shuffle').click(function(){
                        $container.isotope('updateSortData').isotope({
                            sortBy: 'random'
                        });
                    });

                    $(window).resize(function() {
                        $container.isotope('layout');
                    });

                });

            </script><!-- Portfolio Script End -->

        </div>

    </div>

</section><!-- #content end -->
