---
title: Home 
---
<section id="slider" class="boxed-slider">
	<div class="container clearfix">
		<a href="#">
			<img src="images/home_banner.jpg" alt="Image">
		</a>
	</div>
</section>

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="col_one_third">
				<div class="feature-box fbox-plain">
                     <div class="fbox-icon">
                         <a href="#"><img src="images/icons-144/design-by-description.png" alt="Design by description"></a>
					 </div>
					<h3>Design by description</h3>
                    <p>Nanoverse can read between the lines, allowing you to focus on what matters. You specify what you want, in exactly as much detail as you need. Nanoverse takes care of the rest, automatically.</p>
				</div>
			</div>

			<div class="col_one_third">
				<div class="feature-box fbox-plain">
                     <div class="fbox-icon">
                         <a href="#"><img src="images/icons-144/build-in-layers.png" alt="Build in layers"></a>
					 </div>
					<h3>Build in layers</h3>
                    <p>Break your world into simple pieces, then specify how the pieces interact. Nanoverse builds an analysis pipeline to meet your specifications. Declarative modeling--it's really that simple.</p>
				</div>
			</div>

			<div class="col_one_third col_last">
				<div class="feature-box fbox-plain">
                     <div class="fbox-icon">
                         <a href="#"><img src="images/icons-144/fast-forward.png" alt="Fast forward"></a>
					 </div>
                     <h3>Fast forward</h3>
                     <div style="font-style: italic; color: red;">Coming soon!</div> 
					<p>Nanoverse uses an advanced Monte Carlo algorithm to accelerate your simulations. Don't waste time waiting for your system to evolve; fast forward to the moments that matter.</p>
				</div>
			</div>

			<div class="clear"></div>

			<div class="col_one_third nobottommargin">
				<div class="feature-box fbox-plain">
                     <div class="fbox-icon">
                         <a href="#"><img src="images/icons-144/flexible-geometry.png" alt="Flexible geometry"></a>
					 </div>
					<h3>Flexible geometry</h3>
					<p>Switch from 2D to 3D to a small-world network, all with a single word. Nanoverse will automatically make sure that your simulations and visualizations continue to work and look great.</p>
				</div>
			</div>

			<div class="col_one_third nobottommargin">
				<div class="feature-box fbox-plain">
                     <div class="fbox-icon">
                         <a href="#"><img src="images/icons-144/visualize-anything.png" alt="Build in layers"></a>
					 </div>
					<h3>Visualize anything</h3>
					<p>Nanoverse automatically changes your visualization to match your geometry. Specify colors, images and transformations to capture what's important to you.</p>
				</div>
			</div>

			<div class="col_one_third nobottommargin col_last">
				<div class="feature-box fbox-plain">
                     <div class="fbox-icon">
                         <a href="#"><img src="images/icons-144/absolutely-free.png" alt="Build in layers"></a>
					 </div>
					<h3>Absolutely free</h3>
					<p>Nanoverse is available Free and Open Source under the Affero General Public License. Try it out for your research or business today!</p>
				</div>
			</div>
		</div>
	</div>
</section>
