---
title: Licensing 
---
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<h3>Nanoverse is completely free.</h3>
            <p><span style="font-size: 125%">We want our software to be useful for the widest possible community. That's why we've decided to release it free and open source under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero General Public License v3</a>. We invite you to download the program, customize it in any way that suits you, and use it to discover great things. When you are done, we hope (<a href="#faq-4">but do not require</a>) that you will "share alike" by redistributing your invention under a compatible license.</span></p>

            <ul class="iconlist faqlist">
                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-1">What is a strong copyleft?</a></strong></li>
                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-2">How does the AGPL differ from the GPL?</a></strong></li>
                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-3">Is the output of Nanoverse covered under AGPL?</a></strong></li>
                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-4">Do I have to redistribute my code?</a></strong></li>
                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-5">Why AGPL?</a></strong></li>
                <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-6">What if I need a different license?</a></strong></li>
            </ul>

            <div class="divider"><i class="icon-circle"></i></div>

            <h3 id="faq-1"><strong>What is a strong copyleft?</strong></h3>
            <p><span style="font-size: 125%">Like its sibling the GPL, the AGPL is a <a href="http://en.wikipedia.org/wiki/Copyleft#Strong_and_weak_copyleft">strong copyleft</a> license. If you modify Nanoverse and you then wish to distribute your changes, you must do so under the same license. More importantly, if you wish to use Nanoverse as a part of your software platform or service, the entire platform must have a compatible license (GPL v3 or AGPL v3). These rules apply both to GPL and AGPL.</span></p>

			<h3 id="faq-2"><strong>How does the AGPL differ from the GPL?</strong></h3>
            <p><span style="font-size: 125%">AGPL introduces one new restriction on the license. If you wish to deliver Nanoverse output as part of a software service (SaaS), then you must provide a way to download and redistribute that software service under the AGPL. This only applies to the propagation of Nanoverse as a service: any data that you produce using Nanoverse is your own, with no restrictions concerning use or publication.</span></p>

            <h3 id="faq-3"><strong>Is the output of Nanoverse covered under AGPL?</strong></h3>
            <p><span style="font-size: 125%">No! <em>Your work belongs only to you.</em> The source code that you write belongs to you, and the output that you get from Nanoverse also belongs to you. We invite you to use Nanoverse in the course of your professional work, including for the purpose of creating reports that you will sell. The only rule is that if you change Nanoverse yourself (including combining it with another program), and then you wish to distribute that changed version or provide it as an online service, you must release the derived work under the same AGPL license.</span></p>

            <h3 id="faq-4"><strong>Do I have to redistribute my code?</strong></h3>
            <p><span style="font-size: 125%">No. If you run a Nanoverse derivative on a private computer or cluster, and then you generate output that you want to share, you don't have any obligation to distribute your code. If you decide to distribute it, however, you must distribute it under compatible license terms. Generally, this means that the original parts are still covered under AGPL, and the new parts can be covered either under GPL or AGPL (although you must still distribute the entire project).</span></p>

			<h3 id="faq-5"><strong>Why AGPL?</strong></h3>
            <p><span style="font-size: 125%">First, a more general question: why free software? We as engineers have benefitted tremendously from many technologies that were free from day one--most notably mathematics. Then as now, there are tremendous opportunities for personal and professional advancement for practitioners, without the need to hoard concepts as secrets. Free software is a continuation of a great scientific tradition, as that tradition applies to the information age.</span></p>
            <p><span style="font-size: 125%">So why the AGPL? Strong copyleft licenses ensure that every derivative work of a technology remains free. This means that all practitioners who use that technology are on an even playing field: if they wish to profit, they must do so on the merits of their unique contributions. The Trustees of Princeton University and the authors of Nanoverse have invested substantially in the Nanoverse technology. The AGPL ensures that they can enjoy fair returns on investment, without depriving the research community of access to this work.</span></p>

			<h3 id="faq-6"><strong>What if I need a different license?</strong></h3>
            <p><span style="font-size: 125%">Some applications, particularly those in business, require proprietary licenses. Even some open source projects require weaker licenses, such as the Lesser General Public License (LGPL). If you require a proprietary license for Nanoverse, please <a href="contact.html">contact us,</a> and we will be glad to discuss terms.</span></p>
		</div>
	</div>
</section>
