---
title: Team 
---
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="col_one_fourth center" data-animate="bounceIn" data-delay="200">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-code"></i>
                <div class="counter counter-large" style="color: #e74c3c;"><span data-from="100" data-to="128782" data-refresh-interval="5" data-speed="1000"></span></div>
                <h5>Lines of Code</h5>
            </div>

            <div class="col_one_fourth center" data-animate="bounceIn" data-delay="400">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-briefcase"></i>
                <div class="counter counter-large" style="color: #16a085;"><span data-from="100" data-to="1925" data-refresh-interval="20" data-speed="1000"></span></div>
                <h5>Java classes</h5>
            </div>

            <div class="col_one_fourth center" data-animate="bounceIn">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-cogs"></i>
                <div class="counter counter-large" style="color: #3498db;"><span data-from="100" data-to="1943" data-refresh-interval="20" data-speed="1000"></span></div>
                <h5>Automated tests</h5>
            </div>

            <div class="col_one_fourth center col_last" data-animate="bounceIn" data-delay="600">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-cup"></i>
                <div class="counter counter-large" style="color: #9b59b6;"><span data-from="100" data-to="2321" data-refresh-interval="30" data-speed="1000"></span></div>
                <h5>Cups of Coffee*<span style="font-size: 60%; color: black"><br>*Made-up number</span></h5>
            </div>

            <div class="clear"></div>

            <div class="heading-block center">
                <h2>Team Nanoverse</h2>
            </div>

            <div class="row clearfix">

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="images/team/borenstein.jpg" alt="David Bruce Borenstein">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4><a href="https://www.linkedin.com/pub/david-bruce-borenstein-phd/5/bbb/296">David Bruce Borenstein</a></h4><span>Lead developer</span></div>
                            <div class="team-content">
                                <p>David is a Postdoctoral Researcher at the Lewis-Sigler Institute for Integrative Genomics at <a href="http://lsi.princeton.edu/">Princeton University</a>, where he recently completed his Ph.D. Before coming to Princeton, David worked in genome sequencing at the <a href="http://www.broadinstitute.org/">Broad Institute of MIT and Harvard</a>. His scientific interests focus on evolutionary dynamics, particularly with respect to the evolution of cooperation and conflict. In addition to his scientific training, David holds a degree in philosophy.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="images/team/wingreen.jpg" alt="Ned S. Wingreen">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4><a href="http://molbio.princeton.edu/labs/wingreen">Ned S. Wingreen</a></h4><span>Scientific advisor</span></div>
                            <div class="team-content">
                                <p>Ned S. Wingreen is the Howard A. Prior Professor of the Life Sciences at <a href="http://molbio.princeton.edu">Princeton University</a>. Professor Wingreen has published extensively in microbial biophysics, with particular emphasis on quorum sensing, intercellular signaling and cellular structure. Before coming to Princeton, Professor Wingreen worked at the <a href="http://www.nec-labs.com/">NEC Research Institute</a>, where he published extensively in the domain of condensed-matter physics.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="images/team/bradley.jpg" alt="Elizabeth Bradley">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Elizabeth Bradley</h4><span>Contributing developer</span></div>
                            <div class="team-content">
                                <p>Elizabeth Bradley is an undergraduate at Princeton University concentrating in Computer Science.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="images/team/pritt.png" alt="Samuel Pritt">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Samuel Pritt</h4><span>Contributing developer</span></div>
                            <div class="team-content">
                                <p>Bio coming soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="images/team/li.jpg" alt="Zhiyuan Li">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Zhiyuan Li</h4><span>Postdoctoral researcher</span></div>
                            <div class="team-content">
                                <p>Zhiyuan Li is a Postdoctoral Fellow at the Princeton Center for Theoretical Science. She is interested in applying physics theory and computational methods to study the emergent complexity of biological systems. One of her current project is to investigate the crisis coral reefs induced by climate change using agent-based modeling.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="images/team/chu.jpg" alt="Olivia Chu">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Olivia Chu</h4><span>Graduate researcher</span></div>
                            <div class="team-content">
                                <p>Olivia Chu is a Ph.D. student in Quantitative and Computational Biology at Princeton University.  She received a B.A. in mathematics from NYU’s Courant Institute of Mathematical Sciences, where she studied the locomotion of the unicellular protist Euglena.  At Princeton, Olivia’s current research interests are in biological modeling and biophysics.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading-block center">
                <h2>Nanoverse Alumni</h2>
            </div>

            <div class="row clearfix">
                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="images/team/maslan.jpg" alt="Annie Maslan">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Annie Maslan</h4><span>Undergraduate Researcher</span></div>
                            <div class="team-content">
                                <p>Annie Maslan graduated in 2015 from the Department of Chemical and Biological Engineering at Princeton University. Her thesis work in Ned Wingreen’s lab explores the role of type VI secretion in microbial communities using Nanoverse. Annie also works as a Research Associate at <a href="http://www.gilead.com/">Gilead Sciences</a> characterizing IHC biomarkers using image analysis.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="images/team/greenidge.jpg" alt="C. Daniel Greenidge">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>C. Daniel Greenidge</h4><span>Contributing developer</span></div>
                            <div class="team-content">
                                <p>Daniel Greenidge is an undergraduate at Princeton University concentrating in Operations Research and Financial Engineering with a certificate in Quantitative and Computational Biology. He is interested in using statistical and computational techniques to understand ecological systems. Before working in the Wingreen lab, he developed ultrafast laser pulse measurement techniques at JILA (NIST/CU-Boulder).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- #content end -->
