---
title: Timeline
---
        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1 style="text-transform: none">We believe in iterated learning.</h1>
                <p><span>We are releasing Nanoverse in stages. At each interval, we will evaluate our capabilities against the demonstrated needs of our target early adopters: the scientific community. If you feel that a particular feature should be prioritized, we encourage you to <a href="contact.html">get in touch</a>.</span></p>
            </div>

        </section><!-- #page-title end -->
<!-- Based on "Vertical timeline" (http://codyhouse.co/gem/vertical-timeline/) -->
	<link rel="stylesheet" href="css/timeline/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">&nbsp;</div>

			<div class="cd-timeline-content" style="background-color: #ffdddd">
				<h2>v0.6.0: Inital public release</h2>
				<p>The first release of Nanoverse is a fully functioning prototype. This version supports agents with up to two attributes and an unlimited number of behaviors, as well as continuum-valued layers with numerical integration. A number of pre-defined visual and textual reports are included.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">&nbsp;</div>

			<div class="cd-timeline-content" style="background-color: #ddffdd">
				<h2>v0.7.0: Discrete event scheduling</h2>
				<p><a href="http://en.wikipedia.org/wiki/Agent-based_model">Agent-based models</a> are often very slow, because simulation time advances in fixed increments. By comparison, <a href="http://en.wikipedia.org/wiki/Discrete_event_simulation">discrete-event models</a> can fast-forward to the next meaningful change. v0.7.0 introduces an event scheduler that turns agent-based models into discrete-event models, speeding simulations up exponentially. This is accomplished through a kind of <a href="http://en.wikipedia.org/wiki/Monte_Carlo_method">Monte Carlo algorithm</a> originally developed <a href="http://pubs.acs.org/doi/abs/10.1021/j100540a008">for chemistry</a>. </p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">&nbsp;</div>

			<div class="cd-timeline-content" style="background-color: #ddffdd">
				<h2>v0.8.0: Context-free grammar</h2>
				<p>Starting in v0.8.0, Nanoverse grammar will be standardized. This will make the language easier to for people to learn (and computers to test). CFG will also make Nanoverse much easier to document. Context-free grammar paves the way for several other features, including flexible agents and a human-readable language called "Nanosyntax."</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">&nbsp;</div>

			<div class="cd-timeline-content" style="background-color: #ddffdd">
				<h2>v0.9.0: Flexible agents</h2>
				<p>Beginning in v0.8.0, agents can have an unlimited number of internal properties. These properties can be text (e.g., name), decimal (e.g., size), integer (e.g., age) or boolean. Agent behaviors can directly modify, or depend on, agent states. Agent states can also depend on values from other system components, including continuum-valued layers (e.g., resource concentration, altitude, etc.). Children can inherit the properties of their parents, new values derived from parental values, or entirely new values.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">&nbsp;</div>

			<div class="cd-timeline-content" style="background-color: #ddffdd">
				<h2>v1.0.0: Nanosyntax</h2>
				<p>The official launch of Nanoverse will include a new computer language called Nanosyntax. This language is designed for expressiveness, clarity and brevity. It emphasizes <em>declarative</em> and <em>functional</em> approaches: respectively, describing what you want (instead of how to do it) and describing how something changes (rather than how to change it). The existing hierarchical language will also be supported.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">&nbsp;</div>

			<div class="cd-timeline-content" style="background-color: #ddffdd">
				<h2>v1.1.0: Layered visualization engine</h2>
				<p>Starting in v1.1.0, it will be possible to define visualizations by describing a series of visual <em>layers</em>, which are rendered one-on-top of the other. Each layer will be described throug a series of <em>functional</em> transformations of the simulation's state, such as mapping an agent property to a color or shape.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">&nbsp;</div>

			<div class="cd-timeline-content" style="background-color: #ddffdd">
				<h2>v1.2.0: Reporting pipeline</h2>
				<p>Nanoverse v1.2.0 will introduce a flexible platform for creating custom reports. These reports can capture properties of individual agents, system-level aggregate statistics, or even properties of each simulation in a repeated experiment. Like the visualization engine, the reports will be built up through a series of functional transformations.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">&nbsp;</div>

			<div class="cd-timeline-content" style="background-color: #ddffdd">
				<h2>v2.0.0: Design by cartoon</h2>
				<p>The second version of Nanoverse will introduce a visual environment for building and exploring models through visual cues. This visual programming interface will eliminate the need for computer code altogether, allowing subject-area experts to focus their attention on the model at hand.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">&nbsp;</div>

			<div class="cd-timeline-content" style="background-color: #ddffdd">
				<h2>v3.0.0: Compile-to-Java</h2>
				<p>Prior to v3.0.0, Nanoverse will have the ability to translate Nanosyntax directly to source code in the <a href="https://www.java.com/">Java</a> computer language. In addition to providing speed and efficiency boosts, direct translation will allow users to customize their simulation beyond the limits of the Nanoverse platform, as well as to produce stand-alone products for business and entertainment.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->
